html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

html {
  height: 100%;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/*HEADER*/
.header {
  height: 660px;
  width: auto;
  position: relative;
}
.header .header__background-img {
  position: absolute;
  z-index: -4;
  background-image: cover center center no-repeat;
  width: 100%;
  height: 660px;
}
.header .header__content {
  display: flex;
  justify-content: space-between;
}
.header .header__content .header__box .header__logo {
  margin-top: 32px;
}
.header .header__content .header__box .header__heading {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 60px;
  line-height: 70px;
  letter-spacing: 1.8px;
  color: #FFFFFF;
  margin-top: 127px;
}
.header .header__content .header__box .header__line-heading {
  height: 2px;
  margin: 128px 0 21.5px;
  background: #FFFFFF;
}
.header .header__content .header__box .header__button-item {
  display: inline;
}
.header .header__content .header__box .header__button-item .header__button-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 24px;
  padding-right: 7px;
}
.header .header__content .header__box .header__button-item .header__button-img {
  cursor: pointer;
  padding-right: 21px;
}
.header .header__content .header__nav {
  margin-top: 22px;
}
.header .header__content .header__nav .header__nav-item .header__nav-nav .header__nav-link {
  justify-content: flex-end;
  display: flex;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 15px;
  text-transform: uppercase;
}

/*SCIENCE*/
.science {
  height: auto;
  width: 100%;
}
.science .science__content {
  display: flex;
  justify-content: space-between;
}
.science .science__content .item1 {
  background: #C9A3A4;
}
.science .science__content .item2 {
  background: #A7CEEF;
}
.science .science__content .item3 {
  background: #ACB5AC;
}
.science .science__content .science__item {
  height: 729px;
  width: 480px;
}
.science .science__content .science__item .science__item-heading {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 41px;
  line-height: 48px;
  color: #FFFFFF;
  margin: 58px 0 0 44px;
}
.science .science__content .science__item .science__item-line {
  height: 2px;
  max-width: 360px;
  margin: 34px auto 0;
  background: #FFFFFF;
}
.science .science__content .science__item .item-img1 {
  margin: 30px auto 1px;
  display: block;
}
.science .science__content .science__item .item-img2 {
  margin: 64px auto 33px;
  display: block;
}
.science .science__content .science__item .item-img3 {
  margin: 34px auto 3px;
  display: block;
}
.science .science__content .science__item .science__item-btn {
  margin: 0px 7px 0 60px;
}
.science .science__content .science__item .science__item-btn .science__item-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 24px;
  text-transform: uppercase;
}
/*FUTURE*/
.future {
  height: 650px;
  width: 100%;
  position: relative;
}
.future .future__img-background {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: -5;
  background-image: cover center no-repeat;
}
.future .future__content .future__box {
  padding-top: 58px;
}
.future .future__content .future__box .future__heading {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 41px;
  line-height: 48px;
  color: #FFFFFF;
}
.future .future__content .future__box .future__heading-line {
  height: 2px;
  width: 426px;
  background: #FFFFFF;
  margin: 34px 0 29px;
}
.future .future__content .future__box .future__text {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 24px;
}
.future .future__content .future__box .future__button-btn {
  display: flex;
  align-items: flex-end;
}
.future .future__content .future__box .future__button-btn .future__button-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 20px;
  line-height: 24px;
}
.future .future__content .future__box .future__button-btn .future__button-arrow {
  display: block;
  position: relative;
  margin: 0px 0px 5px 6px;
}

/*FOOTER*/
.footer {
  height: 206.890625px;
  width: 100%;
}
.footer .footer__content {
  margin-top: 60px;
  display: flex;
  justify-content: space-between;
}
.footer .footer__content .footer__left-box {
  display: flex;
}
.footer .footer__content .footer__left-box .footer__author {
  margin-left: 61px;
}
.footer .footer__content .footer__left-box .footer__author .footer__author-name {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  color: #858585;
}
.footer .footer__content .footer__right-box {
  display: flex;
  justify-content: space-between;
}
.footer .footer__content .footer__right-box .footer__nav {
  margin-right: 128px;
}
.footer .footer__content .footer__right-box .footer__nav .footer__nav-box .footer__nav-link {
  margin-bottom: 4px;
}
.footer .footer__content .footer__right-box .footer__nav .footer__nav-box .footer__nav-link .footer__nav-link-link {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 13px;
  color: #858585;
}
.footer .footer__content .footer__right-box .footer__search-form {
  position: relative;
}
.footer .footer__content .footer__right-box .footer__search-form .footer__neuralink {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: #FFFFFF;
  font-size: 13px;
  color: #858585;
  margin-bottom: 22px;
}
.footer .footer__content .footer__right-box .footer__search-form .search-form-input {
  width: 426.625px;
  height: 27px;
  outline: none;
  border: none;
  border-bottom: 1px solid #858585;
}
.footer .footer__content .footer__right-box .footer__search-form .footer__img-arrow {
  color: #858585;
  position: absolute;
  margin-left: -15px;
}

/*MEDIA*/
@media screen and (max-width: 991px) {
  /*HEADER*/
  .header .header__content .header__box .header__heading {
    font-size: 47px;
  }

  /*SCIENCE*/
  .science .science__content .science__item {
    height: 650px;
  }
  .science .science__content .science__item .science__item-img {
    max-width: 69%;
  }
  .science .science__content .science__item .science__item-heading {
    font-size: 32px;
  }
  .science .science__content .science__item .science__item-line {
    margin: 34px 40px 0;
  }
  .science .science__content .science__item .science__item-btn .science__item-link {
    font-size: 14px;
  }

  /*FOOTER*/
  .footer .footer__content .footer__right-box .footer__search-form .search-form-input {
    width: 200.625px;
  }

  .footer .footer__content .footer__right-box .footer__search-form .footer__img-arrow {
    margin-top: 6px;
  }
}
@media (max-width: 766px) {
  /*HEADER*/
  .header {
    width: auto;
  }

  /*FUTURE*/
  .future {
    height: 489px;
    width: 100%;
  }

  .future .future__content .future__box .future__button-btn {
    margin-top: 20px;
  }

  .future .future__content .future__box .future__heading-line {
    width: 350px;
  }

  .future .future__content .future__box .future__heading {
    font-size: 34px;
  }

  .future .future__content .future__box .future__button-btn .future__button-link {
    font-size: 14px;
  }

  .future .future__content .future__box .future__button-btn .future__button-arrow {
    margin: 0px 0px 7px 6px;
    width: 17px;
  }

  .future .future__content .future__box .future__text {
    font-size: 12px;
  }

  /*SCIENCE*/
  .science .science__content {
    display: block;
    width: 100%;
  }

  .science .science__content .science__item {
    height: 494px;
    width: auto;
  }

  .science .science__content .science__item .science__item-img {
    max-width: 24%;
  }

  .science .science__content .science__item .science__item-line {
    margin: none;
  }

  .science .science__content .science__item .science__item-heading {
    text-align: center;
  }

  .science .science__content .science__item .science__item-heading {
    margin: 34px 0 0 29px;
  }

  .science .science__content .science__item .science__item-line {
    max-width: 100%;
  }

  .science .science__content .science__item {
    height: 504px;
  }

  .science .science__content .science__item .science__item-heading {
    margin: 0;
  }

  .science .science__content .science__item .science__item-btn {
    margin: 0;
    text-align: center;
  }

  /*FOOTER*/
  .footer .footer__content .footer__right-box .footer__search-form .footer__img-arrow {
    margin-top: 6px;
  }

  .footer .footer__content .footer__right-box .footer__nav {
    margin-right: 28px;
  }
}
@media (max-width: 575px) {
  /*HEADER*/
  .header .header__content .header__box .header__heading {
    font-size: 33px;
  }

  .header .header__content .header__box .header__line-heading {
    margin: 54px 0 21.5px;
  }

  .header {
    height: 597px;
  }

  .header .header__content .header__box .header__button-item {
    display: block;
  }

  /*FOOTER*/
  .footer {
    height: 250.890625px;
    margin-top: 30px;
  }

  .footer .footer__content .footer__left-box {
    display: block;
  }

  .footer .footer__content .footer__left-box .footer__author {
    margin: 20px 0;
  }

  .science .science__content .science__item {
    height: 434px;
  }

  .footer .footer__content {
    margin: 0;
  }

  .footer .footer__content .footer__right-box {
    display: block;
  }
}